<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Конфідициальність</title>
    <link rel="stylesheet" href="../static/css/style_confirm.css">
</head>
<body>
<h1>Конфідициальність</h1>
<div class="content">
    <div class="box">
        <p>Щоб користуватись нашим сайтом треба підтвердити що ви погоджуєтесь з <a href="Конфідициальність.docx">
          нашою конфідиціальністю</a>.</p>
        <button type="submit"><a href="/diagram/" class="link">Перейти до сайту</a></button>
    </div>
</div>
</body>
</html>
