<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Системний моніторинг</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/images/logo.png">
</head>
<body>
    <h1>Моніторинг системи</h1>

    <h3>Операційна система: {{ operation_system }}</h3>

    <h2>Використання CPU</h2>
    <p>Завантаження CPU: {{ cpu_usage }}%</p>

    <h2>Використання пам'яті</h2>
    <p>Загальна пам'ять: {{ memory_total|round(2) }} ГБ</p>
    <div class="content">
    <img src="{{ url_for('static', filename='images/memory_usage.png') }}">
    </div>

    <h2>Використання дисків</h2>
    {% for disk in disks_info %}
        <h3>Диск {{ disk.device }} ({{ disk.mountpoint }})</h3>
        <p>Загальний обсяг: {{ disk.total|round(2) }} ГБ</p>
        <p>Зайнято: {{ disk.used|round(2) }} ГБ</p>
        <p>Вільно: {{ disk.free|round(2) }} ГБ</p>
        <div class="content">
        <img src="{{ url_for('static', filename='images/disk_usage_' + disk.device|replace(':', '')|replace('\\', '')|replace('/', '') + '.png') }}">
        </div>
    {% endfor %}
</body>
</html>